{%extends 'base.html'%}
{% load static %}

{%block content%}
<div class="login_block">
    <div class="border rounded p-2 shadow" style="width: 400px;">
		<div class="text-center mb-4 avtar"><img class= "userimg" src="{% static 'images/forget-password.png' %}" alt="user"></div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Your Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">Submit</button>
            <div class="mb-3">
                For Login <a class="" href="{%url 'login_page' %}">Click here</a>
            </div>
        </form>
    </div>
</div>
{%endblock content%}