{% extends 'home-base.html'%}
{% load static %}
{% block content %}

<div class="conatiner mt-5">
    <div class="mx-5">
        <h3># {{staff.staff_name}} ({{staff.staff_section}})</h3>
        <h3></h3>
    </div>
    <div class="container my-5 table-responsive">
        <h3>Items Issued</h3>
        <table class="table text-center border rounded">
            <thead >
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Product</th>
                    <th scope="col">Product Categry</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for rec in recipients %}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td>{{rec.product.p_name}}</td>
                    <td>{{rec.product.c_name.c_name}}</td>
                    <td>{{rec.rec_quantity}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

</div>


{% endblock %}