body{
    font-family: 'Poppins', sans-serif;
}

.login_block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
}
.userimg{
    width: 30%;
    height: 30%;
}


