<nav class="navbar navbar-expand-lg sticky-top .text-light" style="background-color: #3c8dbb;">
    <div class="container-fluid">
        <a class="navbar-brand link-light" href="/">Library Store Managment System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout_page' %}">
                {% csrf_token %}
                <button class="btn btn-light me-2 " type="submit">Logout</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>